---
layout: page
title: Publications
---

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<!-- <section class="list">
    <div class="item">
        <a class="url" href="/assets/playprblms.pdf">
            <aside><time>CHI 2018</time></aside>
            <h3 class="title">
                "Play PRBLMS": Identifying and Correcting Less Accessible
                Content in Voice Interfaces
            </h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="/assets/moodmodeling.pdf">
            <aside><time>Personal and Ubiquitous Computing 2018</time></aside>
            <h3 class="title">
                Mood Modeling: Accuracy Depends on Active Logging and Reflection
            </h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="/assets/whatareyouhiding.pdf">
            <aside><time>AAAI UXofAI 2018</time></aside>
            <h3 class="title">
                What are you Hiding? Algorithmic Transparency and User
                Perceptions
            </h3>
        </a>
    </div>

    <div class="item">
        <a class="url" href="/assets/whatareyouhiding.pdf">
            <aside><time>AAAI UXofAI 2018</time></aside>
            <h3 class="title">
                Assessing and Addressing Algorithmic Bias—But Before We Get
                There...
            </h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="/assets/whatareyouhiding.pdf">
            <aside><time>AAAI UXofML 2017</time></aside>
            <h3 class="title">
                Dice in the Black Box: User Experiences with an Inscrutable
                Algorithm
            </h3>
        </a>
    </div>
</section> -->
